#video-grid {
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    align-content: center;
    display: inline-grid;
    grid-template-rows: repeat( auto-fit, minmax(0, 1fr) );
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    overflow: hidden;
    color: white;

}

#video-grid > :nth-child(2){
    grid-column:2;
  }

  #video-grid > :nth-last-child(5) ~ :nth-child(3),
  #video-grid > :nth-last-child(7) ~ :nth-child(3), /* 7 = 5 + 2 */
  #video-grid > :nth-last-child(9) ~ :nth-child(3){ /* 9 = 7 + 2 */
   grid-column:3;
  }
  
  #video-grid > :nth-last-child(10) ~ :nth-child(4),
  #video-grid > :nth-last-child(13) ~ :nth-child(4), /* 13 = 10 + 3 */
  #video-grid > :nth-last-child(16) ~ :nth-child(4){ /* 16 = 13 + 3 */
   grid-column:4;
  }
  
  #video-grid > :nth-last-child(17) ~ :nth-child(5),
  #video-grid > :nth-last-child(21) ~ :nth-child(5), /* 21 = 17 + 4 */
  #video-grid > :nth-last-child(25) ~ :nth-child(5){ /* 25 = 21 + 4 */
   grid-column:5;
  }
.container {
    display:inline-grid;
    grid-auto-columns:1fr;
    width:100px;
    vertical-align:top;
  }
  
  
  .container > * {
    border:1px solid red;
  }
  .container > *::before {
    content:"";
    display:inline-block;
    padding-top:100%;
  }

#main{
    margin: 0;
    transition: margin-left .5s;
}
#camera{
    display: block;
    text-align: center;
}

#camera p{
    width: 100%;
    height: 45px;
    font-size: 20px;
    color: white;
    margin: 0;
}

video {
    width: 100%;
    height: calc(100% - 40px);
    object-fit: contain;
}
  .menu button {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .menu button:hover {
    background-color: #ddd;
    color: black;
  }
  
  .menu {
    overflow: hidden;
    background-color: #333;
    height: 55px;
  }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    height: 100vh;
    display: block;
    background-color: black;
}
.content {
    background-color: whitesmoke;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
    border-radius: 3px;
    display: flex;
    float: right;
    flex-direction: column;

    height: 100%;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

.messages {
    flex-grow: 1;
    padding: 20px 30px;
    overflow: auto;
}
.message {
    margin : 10px;
    display: flex;
    flex-direction: column;
}
.message--mine {
    align-items: flex-end;
}
.message--theirs {
    align-items: flex-start;
}
.message__name {
    padding: 5px;
}
.message__bubble {
    padding: 15px;
    border-radius: 3px;
}
.message__timestamp{
    padding: 5px;
    font-size: 8px;
}
.message--theirs .message__bubble {
    background: #6363bf;
    color: white;
}
.message--mine .message__bubble {
    background: rgba(156, 172, 172, 0.2);
}

.notification__message{
    width: 300px;
    padding: 10px;
    font-size: 10px;
    text-align : center;
}
.footer {
    line-height: 76px;
    border-top: 1px solid rgba(156, 172, 172, 0.2);
    display: flex;
    flex-shrink: 0;
}
input {
    height: 76px;
    border: none;
    flex-grow: 1;
    padding: 0 30px;
    font-size: 16px;
    background: transparent;
}
button {
    border: none;
    background: transparent;
    padding: 0 30px;
    font-size: 16px;
    cursor: pointer;
}
